.banner {
  width: 320px;
  min-height: 158px;
  padding-top: 52px;
  padding-left: 46px;
  box-sizing: border-box;

  background-color: #a3847c;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -220px -225px;
}

.banner--mainpage {
  min-height: 389px;
  padding-top: 90px;
  padding-left: 20px;

  background-position: -225px 0;
}
