.banner {
  position: relative;

  padding-top: 52px;
  padding-bottom: 60px;

  background-color: #a3847c;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }
  background-repeat: no-repeat;
  background-position: -225px -231px;
}

.banner::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 320px;
  height: 27px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-size: cover;
}

.banner--mainpage {
  padding-top: 90px;
  padding-bottom: 79px;
  padding-left: 19px;
  padding-right: 19px;
  background-position: -224px 0;
  background-size: 768px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-size: 768px auto;
    background-position: -225px 0;
  }
}

@media (min-width: @tablet-width) {
  .banner {
    width: 768px;
    padding-top: 123px;
    padding-bottom: 110px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 -171px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .banner::after {
    width: 768px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-size: auto;
  }

  .banner--mainpage {
    width: 768px;
    height: 575px;
    padding: 0;
    padding-top: 107px;
    box-sizing: border-box;
    background-position: 0 57px;
  }

  .banner__wrapper {
    margin-top: 27px;
  }

  .banner__text {
    width: 460px;
    height: 80px;
  }

  .banner__text--index {
    width: 460px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .banner {
    width: 1200px;
    padding-top: 131px;
    padding-bottom: 113px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 0 -160px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .banner::after {
    width: 1200px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }

  .banner--mainpage {
    width: 1200px;
    padding-top: 108px;
    background-position: 0 57px;
    background-size: 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-size: 1200px auto;
      background-position: 0 26px;
    }
  }
}
