.copyright__text {
  padding-top: 3px;

  line-height: 26px;
  color: @black-light;
  text-decoration: none;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  outline: none;
}

.copyright__link:hover .copyright__logo,
.copyright__link:focus .copyright__logo {
  fill: #81b3d2;
}

.copyright__link:active .copyright__logo {
  fill: @black-light;
  fill-opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin-top: 6px;
  }

  .copyright__text {
    padding-top: 6px;
    margin-right: 14px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    padding-top: 4px;
  }
}
