.feedback-form__block {
  border: 0;
}

.feedback-form__title {
  .base-title();
}

.feedback-form__field {
  .base-text();
  line-height: 26px;
}

.feedback-form__input::-webkit-input-placeholder,
.feedback-form__textarea::-webkit-input-placeholder {
  .base-title();
  text-transform: none;
}

.feedback-form__btn {
  .btn();
}
