.hotel-search {
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
}

.hotel-search__title {
  .base-title();
  font-size: 21px;
}

.hotel-search__link {
  .btn();
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .hotel-search {
    width: 768px;
    min-height: 318px;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search {
    width: 1200px;
    min-height: 318px;
  }
}
