.info-block {
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  line-height: 21px;

  &--promo {
    position: relative;
    padding-top: 39px;
    padding-bottom: 20px;
    line-height: 26px;
  }

  &--promo::after {
    position: absolute;
    bottom: -62px;
    left: 0;
    content: "";
    display: block;
    width: 320px;
    height: 37px;
    padding-top: 39px;

    line-height: 26px;

    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
  }

  &--photo,
  &--form {
    line-height: 24px;
  }

  &--form {
    min-height: 200px;
  }

  &--grey-row {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;

    background-color: @grey-light;
  }

  background-color: @white-light;
}

.info-block__title {
  .base-title();
}

.info-block__text {
  margin: 0;
}

.info-block__number {
  margin: 0;
  margin-bottom: 15px;
}

.info-block__description {
  margin: 0;
}

.info-block--promo .info-block__title {
  margin-bottom: 26px;
}

.info-block__blue {
  padding: 27px;
  padding-top: 63px;
  padding-bottom: 40px;

  color: @white-light;
  background-color: @blue-light;
}

.info-block__blue--left {
  padding-top: 38px;
}

.info-block__blue .info-block__title {
  margin-bottom: 9px;

  color: @white-light;
}

.info-block__grey {
  position: relative;
  padding: 27px 15px;
}

.info-block__grey:not(:last-child)::after {
  content: "";
  position: relative;
  bottom: -27px;
  left: -15px;
  display: block;
  width: 280px;
  height: 1px;
  background-color: @black-light;
  opacity: 0.1;
}

.info-block__grey .info-block__title {
  margin-bottom: 9px;
}

.info-block--picture {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.info-block__image {
  width: 320px;
  height: 260px;
  background-position: center;
  background-repeat: no-repeat;
}

.info-block__image--right {
  background-image: url("../img/main-city-mobile@1x.jpg");
}

.info-block__image--left {
  background-image: url("../img/main-bridge-mobile@1x.jpg");
}

@media (min-width: @tablet-width) {
  .info-block__blue {
    width: 256px;
    min-height: 256px;
    box-sizing: border-box;
    padding: 0;
  }

  .info-block--grey-row {
    flex-direction: row;
  }


  .info-block--picture {
    flex-direction: row;
  }

  .info-block--promo {
    min-height: 205px;
  }

  .info-block__image {
    width: 512px;
    height: 256px;
  }

  .info-block__image--right {
    background-image: url("../img/main-city-tablet@1x.jpg");
  }

  .info-block__image--left {
    order: -1;
    background-image: url("../img/main-bridge-tablet@1x.jpg");
  }

  .info-block__grey {
    width: 256px;
    min-height: 256px;
  }

  .info-block--photo {
    min-height: 210px;
  }
}

@media (min-width: @desktop-width) {
  .info-block__blue {
    width: 400px;
  }

  .info-block__grey {
    width: 400px;
  }

  .info-block__image {
    width: 800px;
  }

  .info-block__image--right {
    background-image: url("../img/main-city-desktop@1x.jpg");
  }

  .info-block__image--left {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
  }
}
