.map {
  position: relative;

  min-height: 350px;
  width: 100%;

  background-color: #f3f1ed;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.map::before {
  position: absolute;
  bottom: 46.2%;
  left: 45.5%;
  content: "";
  display: block;
  width: 27px;
  height: 27px;

  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }

  .map::before {
    bottom: 45.3%;
    left: 48.3%;
  }
}

@media (min-width: @desktop-width) {
  .map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }

  .map::before {
    bottom: 46.3%;
    left: 48.8%;
  }
}
