.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;

  background-color: @white-light;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
  }
}
