.page-header {
  position: relative;
  z-index: 100;
  margin-bottom: -57px;
}

.page-header__logo {
  display: block;
  height: 84px;
}

.page-header__logo-image {
  margin-left: 2px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 96px;
  }

  .page-header__logo-image {
    width: 187px;
    height: 96px;
  }
}
