.photoalbum {
  list-style: none;
}

.photoalbum__title,
.photoalbum__rate {
  font-size: 14px;
  font-weight: 700;
  color: @black-light;
  text-transform: uppercase;
}

.photoalbum__author {
  text-transform: none;
}
