.photoalbum {
  .base-text();
  line-height: 24px;

  list-style: none;
}

.photoalbum__title,
.photoalbum__rate {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.photoalbum__author {
  text-transform: none;
}
