.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-list__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: @white-light;
  text-decoration: none;
  text-transform: uppercase;
}

.site-list__item {
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
}

.site-list__link:hover,
.site-list__link:focus,
.site-list__item:hover,
.site-list__item:focus {
  background-color: @blue-light-hover;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  outline: none;
}

.site-list__link:active,
.site-list__item:active {
  background-color: @blue-light-down;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  color: @white-light-down;
}

.site-list__item:active .site-list__link {
  color: @white-light-down;
}

.site-list--left .site-list__link {
  padding-bottom: 7px;
}

.site-list--left .site-list__item:last-child,
.site-list--right .site-list__item:first-child {
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

.site-list__link--third {
  padding-top: 10px;
  padding-bottom: 7px;
}

.site-list__link--fourth {
  padding-top: 9px;
  padding-bottom: 7px;
}

.site-list--right .site-list__item:last-child {
  position: relative;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

.site-list--right .site-list__item:last-child::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -3px;
  width: 320px;
  height: 2px;
  box-shadow: 0 -2px 4px 0 rgba(50, 50, 50, 0.5);
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-start;

    &--right {
      justify-content: flex-end;
    }

    width: 40%;
    box-sizing: border-box;
  }

  .site-list__item {
    width: 50%;
    padding: 0;
  }

  .site-list__item,
  .site-list--left .site-list__item:last-child,
  .site-list--right .site-list__item:first-child {
    box-shadow: none;
  }

  .site-list--left .site-list__item:last-child {
    padding-bottom: 0;
  }

  .site-list__item .site-list__link {
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 14px;
    line-height: 26px;
    color: @black-light;
  }

  .site-list__link--third {
    padding-left: 7px;
  }

  .site-list__item:hover,
  .site-list__item:focus {
    color: @blue-light;

    background-color: @white-light;
    box-shadow: none;
  }

  .site-list__item:hover .site-list__link,
  .site-list__item:focus .site-list__link,
  .site-list__link:hover,
  .site-list__link:focus {
    color: @blue-light;

    background-color: @white-light;
    box-shadow: none;
  }

  .site-list__item:active {
    color: @black-light-down;

    background-color: @white-light;
    box-shadow: none;
  }

  .site-list__item:active .site-list__link,
  .site-list__link:active {
    color: @black-light-down;
    background-color: @white-light;
    box-shadow: none;
  }

  .site-list--right .site-list__item:last-child::after {
    display: none;
  }

  .site-list__item--current .site-list__link {
    color: #766357;
  }

  .site-list__item--current .site-list__link:hover,
  .site-list__item--current .site-list__link:focus,
  .site-list__item--current:hover .site-list__link,
  .site-list__item--current:focus .site-list__link {
    color: #604e43;
  }

  .site-list__item--current .site-list__link:active,
  .site-list__item--current:active .site-list__link {
    color: rgba(118, 99, 87, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .site-list__link--second {
    margin-left: -2px;
  }

  .site-list__link--third {
    padding-left: 2px;
  }
}
