.social {
  padding: 0;
  padding-left: 5px;
  margin: 0;
  margin-bottom: 36px;

  list-style: none;
}

.social__item {
  margin-right: 6px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  box-sizing: border-box;

  background-color: @blue-light;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--facebook {
  width: 47px;
  padding: 15px;
  padding-top: 14px;
}

.social__link svg {
  fill: #ffffff;
}

.social__item:hover,
.social__item:focus,
.social__link:hover,
.social__link:focus {
  background-color: @blue-light-hover;
}

.social__item:active,
.social__link:active {
  background-color: @blue-light-down;
}

.social__link:active svg {
  opacity: 0.3;
}

.social__link--twitter {
  padding: 15px;
  padding-left: 14px;
}

.social__link--youtube {
  padding: 13px;
  padding-top: 14px;
}

@media (min-width: @tablet-width) {
  .social {
    padding-left: 0;
    margin-left: -2px;
  }
}

@media (min-width: @tablet-width) {
  .social {
    margin-left: -1px;
  }
}
