.video-clip {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 98px;
  background-color: @white-light;
}

.video-clip__wrapper {
  position: relative;
}

.video-clip__controls {
  position: absolute;
  left: 20px;
  bottom: -59px;
  width: 280px;
  min-height: 111px;
}

.video-clip__controls-up {
  position: relative;
  min-height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-clip__controls-down {
  min-height: 66px;
  background-color: #f2f2f2;
}

.video-clip__title {
  .base-title();
}

.video-clip__clip--desktop,
.video-clip__clip--tablet {
  display: none;
}

.video-clip__description {
  margin: 0;
  padding: 0 25px;
  padding-top: 27px;
  padding-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .video-clip__wrapper {
    padding: 0 60px;
  }

  .video-clip__clip--mobile {
    display: none;
  }

  .video-clip__clip--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .video-clip__wrapper {
    padding: 0 200px;
  }

  .video-clip__clip--tablet {
    display: none;
  }

  .video-clip__clip--desktop {
    display: block;
  }
}
