.video-clip {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 98px;
  background-color: @white-light;
}

.video-clip__wrapper {
  position: relative;
}

.video-clip__clip {
  width: auto;
  height: auto;
  vertical-align: bottom;
}

.video-clip__controls {
  position: absolute;
  left: 20px;
  bottom: -59px;
  width: 280px;
  min-height: 111px;
  cursor: pointer;
}

.video-clip__controls-up {
  position: relative;
  min-height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-clip__controls-down {
  min-height: 66px;
  background-color: #f2f2f2;
}

.video-clip__title {
  .base-title();
}

.video-clip__description {
  margin: 0;
  padding: 0 25px;
  padding-top: 27px;
  padding-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .video-clip {
    padding-bottom: 40px;
  }

  .video-clip__wrapper {
    padding: 0 60px;
    padding-top: 34px;
  }

  .video-clip__title {
    font-size: 30px;
  }

  .video-clip__description {
    padding: 0 105px;
    padding-top: 31px;
    padding-bottom: 73px;
  }

  .video-clip__controls {
    position: absolute;
    left: 60px;
    bottom: -1px;
    width: 648px;
    min-height: 93px;
  }

  .video-clip__controls-up {
    display: none;
  }

  .video-clip__controls-down {
    min-height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: @desktop-width) {
  .video-clip {
    padding-top: 70px;
    padding-bottom: 85px;
  }

  .video-clip__wrapper {
    padding: 0;
    padding-left: 199px;
    padding-right: 201px;
  }

  .video-clip__description {
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 71px;
  }

  .video-clip__controls {
    left: 199px;
    width: 800px;
  }
}
