body {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @darkgrey-light;

  text-transform: uppercase;
}

.base-title() {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black-light;

  text-transform: uppercase;
}

.btn() {
  border: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: @white-light;
  text-transform: uppercase;

  background-color: @blue-light;
}
